@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond&family=Oswald:wght@500&display=swap');

*{
   box-sizing: border-box;
   margin-right: auto;
   margin-left: auto;
   font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR STARTS */

#nav {
    height: 80px;
    width: 100%;
    background-color: #fff;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 3px solid #FF6C26;
    position: fixed;
    top: 0;
    z-index: 10;
  }

  #logo{
    margin-left: 20px;
    margin-top: 12px;
  }

  nav > .nav-header {
    display: inline;
  }

  nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color:#FF6C26;
    padding: 10px 10px 10px 10px;
  }

  nav > .nav-btn {
    display: none;
  }

  nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }

  nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color:#FF6C26;
  }

  nav > .nav-links > a:hover {
    background-color: #FF6C26;
    color: white;
  }

  nav > #nav-check {
    display: none;
  }

  #contactbutton{
    background-color: #FF6C26;
    color: #fff;
  }

  .dropbtn {
    color: #FF6C26;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #FF6C26; color: #f1f1f1;}

  @media (max-width:900px) {
    nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(255, 255, 255, 0.3);
    }
    nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #FF6C26;
    }
    nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #f8a15e;
      height: 0px;
      transition: all 0.6s ease-in;
      overflow-y: hidden;
      top: 80px;
      left: 0px;
    }
    nav > .nav-links > a {
      color: #0d0d0e;
      display: block;
      width: 100%;
    }
    nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    #contactbutton{
      background-color: #f8a15e;
      color: black;
    }
    .dropdown, .dropbtn{
      background-color: #f8a15e;
      text-align: left;
      width: 100%;
      color: #000000;
    }
  }

/* NAVBAR ENDS */

/* HERO STARTS */
#hero{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(./images/hero.webp);
  background-repeat: no-repeat;
  background-position-x:center;
  filter: blur(0.22px);
}
#herodivimage{
  width: 100%;
  height: 100vh;
  
}
h1{
  color: #0E2A47;
  text-align: center;
  font-size: xx-large;
}
#herodivtext{
  width: 100%;
  height: 100vh;
  background-color: rgba(237, 243, 253, 0.77);
  z-index: 2;
  margin-top: auto;
  margin-bottom: 30%;
}
.herotext{
  text-align: center;
  font-size: x-large;
  color: rgb(111, 17, 199);
  font-weight: 600;
}
.auto-type, .typed-cursor{
  font-size:90px;
  color: #FF6C26;
  font-weight: 600;
}

@media (min-width:1000px) {
  #hero{
  background-image: none;
  flex-direction: row;
  }
  #herodivimage{
  background-image: url(./images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x:center;
  }
  h1{
    font-size: 50px;
    width: 95%;
  }
  #herodivimage{
  width: 50%;
  filter: none;
}
  #herodivtext{
  padding-top: 5%;
  width: 50%;
  height: 100vh;
  background-color: white ;
}
.herotext{
  font-size: 70px;
}
.auto-type, .typed-cursor{
  font-size:100px;
}
}
@media (min-width:1650px) {
  .auto-type, .typed-cursor{
    font-size:150px;
  }
  h1{
    font-size: 60px;
  }
}
/* HERO ENDS */

/* SERVICES START */

#h2services{
  font-size: xx-large;
  text-align: center;
  color:#FF6C26;
  padding-top: 10px;
  }
.servicestext{
  width: 85%;
}
.question{
  font-weight: bold;
  font-size: larger;
  color: rgb(111, 17, 199);
}
.italic{
  font-style: italic;
}
.allservices{
        background-color: #FF6C26;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    .servicescard{
        width: 90%;
        margin: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5%;
        background-color: #fff;
    }
    .icon{
      width: 150px;
      height: 110px;
      margin-left: auto;
      margin-right: auto;
    }
    .servicetext{
      width: 80%;
      font-family: 'EB Garamond', serif;
      text-align: left;
    }
    .container > li {
      text-align: left;
      color: #502a0d;
    }
    #worldmap{
      width: 95%;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
        }
    #flagcontainer{
      margin-top: 20px;
      margin-bottom: 50px;
      width: 95%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    .flag{
      margin: 5px;
    }
    @media (min-width:600px) {
      .servicescontainer{
        display: flex;
        flex-wrap: wrap;
      }
      .servicescard{
        width: 450px;
        margin-left: auto;
        margin-right: auto;
      }
      #worldmap{
        width: 60%;
      }
      .flag{
        width: 6%;
      }
    }
/* SERVICES END */

/* FAQ STARTS */
details > summary {
  padding: 4px;
  background-color: #d2c5dc;
  border: none;
  box-shadow: 1px 1px 2px #d973f8;
  cursor: pointer;
  font-size:x-large;
}

details > p {
  background-color:#FF6C26;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #faaaf3;
  font-size:x-large;
}

/* FAQ ENDS */

/* CONTACT STARTS */

#h2contact{
  color: rgb(111, 17, 199);
  text-align: center;
  font-size: xx-large;
}

form{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 500px;
  border: solid black 3px;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 10%;
  border-color: orangered;
}
form > label{
  margin-top: 10px;
  margin-bottom: 5px;
}
form > textarea{
  width: 80%;
  min-height: 80px;
}
#submitbutton{
  margin-top: 40px;
  margin-bottom: 40px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #ef3a1f 0%, #fd1d1d 50%, #fcb045);
  }
#submitbutton:hover {
    background-position: right center;
  }
#submitbutton:active {
    top: 2px;
  }

  @media (min-width:600px) {
    form{
      width: 60%;
      border-radius: 0;
    }
  }

/* CONTACT ENDS */