@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond&family=Oswald:wght@500&display=swap');

*{
   box-sizing: border-box;
   margin-right: auto;
   margin-left: auto;
   font-family: 'Bebas Neue', cursive;
}
h2, h3, h4 {
  text-align: center;
}

.orange{
    color: #FF6C26;
    background-color: #FF6C26;
}
.yellow{
    color: #FAD156;
    background-color: #FAD156;
}
.purple{
    color: blueviolet;
    background-color: blueviolet;
}

/* NAVBAR STARTS */

#nav {
    height: 70px;
    width: 100%;
    background-color: #fff;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 3px solid #FF6C26;
    top: 0;
    z-index: 10;
  }

  #logo{
    margin-left: 20px;
    margin-top: 12px;
  }

  nav > .nav-header {
    display: inline;
  }

  nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color:#FF6C26;
    padding: 10px 10px 10px 10px;
  }

  nav > .nav-btn {
    display: none;
  }

  nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }

  nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color:#FF6C26;
  }

  nav > .nav-links > a:hover {
    background-color: #FF6C26;
    color: white;
  }

  nav > #nav-check {
    display: none;
  }

  #contactbutton{
    background-color: #FF6C26;
    color: #fff;
  }

  @media (max-width:900px) {
    nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(255, 255, 255, 0.3);
    }
    nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #FF6C26;
    }
    nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #f8a15e;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    nav > .nav-links > a {
        color: #0d0d0e;
      display: block;
      width: 100%;
    }
    nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

/* NAVBAR ENDS */

/* HERO STARTS */
#hero{
    padding-top:150px;
    padding-left: 3%;
    padding-right: 3%;
    background-image: url(./images/Wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: max-content;
    width: 100%;
    display: flex;
}
#herocontainer{
  max-width: 1800px;
  display: flex;
}
#herotext{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#cameracrew{
  width: 50%;
}
#sectiontext{
  margin-top: -1%;
  width: 70%;
  font-size: 60px;
  color: rgb(32, 12, 140);
  margin-left: 5%;
}

#bhero{
  color: #ac1fd7;
}
ul{
  padding-left: 20%;
  
}
.li{
  list-style-image: url('./images/check.svg');
  color: #000000;
  font-size: x-large;
}

@media (max-width:900px) {
  #hero{
    height: max-content;
  }
    #sectiontext{
        font-size: 50px;
        width: 90%;
    }
    #herocontainer{
      flex-direction: column;
    }
    #beneficios{
      width: 100%;
    }
}

/* HERO ENDS */

/* SERVICES START */
#services{
  margin-top: -40px;
}
#videodiv{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
video{
    border: 10px solid rgb(120, 16, 216) ;
    width: 50%;
    margin-top: 30px;
    
}
#h2services{
  font-size: xx-large;
  text-align: center;
  color:#FF6C26;
  padding-top: 80px;
  }
#worldmap{
  width: 60%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
    }
    .container{
        margin-top: -30px;
        background-color: #FF6C26;
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
        text-align: center;
        max-width: 1600px;
    }
    .whitebg{
        width: 28%;
        min-height: 550px;
        
        background-color: #fff;
        opacity: 0.9;
        flex-wrap: wrap;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .icon{
        margin-top: 40px;
        width: 150px;
        height: 110px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .servicetext{
      width: 80%;
      font-family: 'EB Garamond', serif;
      text-align: left;
    }
    .container > li {
      text-align: left;
      color: #502a0d;
    }
    .h3{
      color: rgb(120, 16, 216);
      font-size: xx-large;
    }
    #flagcontainer{
      margin-top: 20px;
      margin-bottom: 50px;
      width: 90%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    @media (max-width:900px) {
        #worldmap{
            width: 95%;
        }
        .container{
            flex-direction: column;
        }
        .whitebg{
            width: 70%;
        }
        video{
          width: 90%;
        }
    }
/* SERVICES END */

/* FAQ STARTS */
details > summary {
  padding: 4px;
  background-color: #d2c5dc;
  border: none;
  box-shadow: 1px 1px 2px #d973f8;
  cursor: pointer;
  font-size:x-large;
}

details > p {
  background-color:#FF6C26;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #faaaf3;
  font-size:x-large;
}

/* FAQ ENDS */

/* CONTACT STARTS */
    #contact{
      padding-top: 50px;
      padding-bottom: 50px;
      background-color:#FF6C26;
      display: flex;
    }
    form{
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: left;
    }
    #mc_embed_signup{
      background: #fff;
      width: 600px;
      font: 14px;
    }
    @media (max-width:900px){
      #mc_embed_signup{
        width: 80%;
      }
    }
/* CONTACT ENDS */